.alert-icon {
    position: absolute;
    right: 94px;
    top: 19.5px;
    height: 21px;
    width: 20.99px;
    border-radius: 0px;
}
.circle-icon {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 83px;
    top: 12px;
}
.background-img-avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    right: 10px;
    top: 10px;
    background-image: url("../icons/avatar2.svg");
    background-repeat: no-repeat;
}
