.dashboard {
    position: absolute;
    width: 1263px;
    height: 1111px;
    left: calc(50% - 1263px / 2 + 128px);
    top: 0%;
    bottom: 0%;
    background: #fdfdfd;

    .line-dashboard {
        position: absolute;
        background-color: #ebeff2;
        width: 1263px;
        height: 1px;
        top: 60px;
        left: 0;
    }
}
